@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

p:not(:last-child) {
  margin-bottom: 0.875rem;
}

ol,
ul {
  margin-left: 1rem;
}

ol {
  list-style-type: disc;
}

@layer base {
  html,
  body {
    overscroll-behavior: none;
  }
}

@layer components {
  .avatar {
    position: relative;
    isolation: isolate;
  }

  .avatar::before {
    position: absolute;
    content: '';
    width: calc(100% + 1rem);
    height: calc(100% + 1rem);
    @apply bg-brand-400/70 rounded-full;
    animation: opacityAnimation 5s linear infinite 2s;
    z-index: -1;
  }

  .avatar::after {
    position: absolute;
    content: '';
    width: calc(100% + 1.6rem);
    height: calc(100% + 1.6rem);
    @apply bg-brand-400/40 rounded-full;
    animation: opacityAnimation 4s linear infinite;
    z-index: -1;
  }

  .mask {
    -webkit-mask: radial-gradient(
      circle at center,
      transparent 25%,
      black 25.5%
    );
    mask: radial-gradient(circle at center, transparent 25%, black 25.5%);
  }
}

@layer utilities {
  .noise {
    position: relative;
    isolation: isolate;
  }

  .noise::before {
    content: '';
    background-image: url('/bg-noise.svg');
    background-repeat: repeat;
    filter: contrast(100%) brightness(120%);
    opacity: 20%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -30;
  }

  @keyframes opacityAnimation {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.1;
    }
    100% {
      opacity: 1;
    }
  }
}
