@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
  }
  html,
  body {
    overscroll-behavior: none;
  }
}

@layer components {
}

@layer utilities {
  .noise {
    position: relative;
    isolation: isolate;
  }

  .noise::before {
    content: '';
    background-image: url('/bg-noise.svg');
    background-repeat: repeat;
    filter: contrast(100%) brightness(120%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @apply absolute -z-30 opacity-20;
  }

  @keyframes opacityAnimation {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.1;
    }
    100% {
      opacity: 1;
    }
  }
}
